.card {
  width: 100%;
  height: calc(100vh / 2 - 1.5rem);

  padding: 0.5rem;

  border: 1px solid var(--secondary-color);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-desc {
  text-align: justify;
}
