:root {
  --background: #0f1121;
  --background-hover: #121420;
  --background-blur: #0f1121bb;
  --primary-color: #12162a;
  --secondary-color: #1a203f;
  --accent-color: #0071db;
  --text-color: #d6d6d6;
  --subtext-color: #bfbfbf;
  --placeholder-color: #6b6b6b;
  --button-hover: #004f9a;
  --button-delete-hover: #ff5a5a;
  --error: #ff3a3a;
}

.lightmode {
  --background: #e0e0e0;
  --background-hover: #c0c0c0;
  --background-blur: #e0e0e0bb;
  --primary-color: #b0b0b0;
  --secondary-color: #909090;
  --accent-color: #005bb5;
  --text-color: #2a2a2a;
  --subtext-color: #5a5a5a;
  --button-hover: #004080;
  --button-delete-hover: #d04a4a;
  --error: #cc3333;

  svg {
    fill: var(--text-color);
  }
}
